{% extends 'base.html.twig' %}

{% block title %}La liste des auteurs{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for auteur in auteurs %}
        <h6><a href="{{ path('bd_show',{'id': auteur.id }) }}" >{{ auteur.auteur }}</a></h6>
    {% endfor %}
</div>

{% endblock %}
